@model IList<Movimentacao.Models.Bem>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Index";
}





<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">My Dashboard</li>
</ol>


<div class="card">


    <div class="card-header">
        <i class="fa fa-bar-chart"></i>
        Cadastro de Bens
    </div>

    
        <div class="card-body">

            

            <div class="table-responsive">

                <div class="row">
                    <div class="col-sm-12">
                        @Html.ActionLink("Novo", "Form", "Bem")
                    </div>                    
                </div>
                
                <div class="row">

                    <div class="col-sm-12">

                        @*<table class="table table-bordered table-hover">*@
                        <table class="table table-hover table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tombo</th>
                                    <th>Descrição</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in Model)
                                {
                                    <tr>
                                        <td>@p.IdBem</td>
                                        <td>@p.Tombo</td>
                                        <td>@p.Descricao</td>
                                        <td>@p.Marca.Descricao</td>
                                        <td>@p.Modelo.Descricao</td>
                                        @*<td>@Html.ActionLink("Remover", "Remove", new { id = p.IdBem })</td>*@
                                        <td>@Html.ActionLink("Editar", "Form", new { id = p.IdBem })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>
